streamlit
langchain>=0.3,<0.4
langchain-google-genai>=2.0,<3.0
langchain-community>=0.3,<0.4
python-dotenv
google-search-results
google-generativeai
Pillow
gTTS
folium
streamlit-folium
geopy
faiss-cpu
nltk
numpy
